body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  background-image: url("https://previews.dropbox.com/p/thumb/ABEyio9FK1txBDOXEPGkwqpESl1eGEEuvy8C4qQWfo9fiKguc6kCt7Wb1onih_ha_6ublCHHvKePjKEye1DE9FVDfqZL8aDMXjPLjN0aEM0mYdV5K0qj_V8HPFe3xLgrz0yg98B5Fk9tI3SpAYJrN7MRXI_s3SSyJc1ecEtkWWlv2SspPmSKbM1IIoZEucBhq6mgMdFngc3bW_eT1faxgF-sheUgY77UNpdPcX6JCanv2z4Zclt7qYnpriLJqJB5nqv6yaSIVPjHNxGiMc17SS0S0M8XxMxp7x4knAe_PP1xFeqaw4Fz-pVq-QZpgsEXGNTRjH5u-1zZ4bngiaA1YBXwyUwYtiJmhDJysqF2-bI4lDmulOtxsGOnb2QLDh6d1Rg/p.png?fv_content=true&size_mode=5");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 550px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: white;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.navbar-brand {
  color: black !important;
  font-size: 2.5rem !important;
}

nav .navbar-nav a {
  color: black !important;
}

.background-about {
  margin: 2em;
  width: 40rem;
  margin-left: 23rem;
  margin-top: 5rem;
}

/* .card {
  width: 40rem;
  margin-left: 23rem;
  margin-top: 5rem;
} */

#contact-form {
  margin-left: 40rem;
  margin-right: 10rem;
}

.form-name {
  margin-left: 40rem;
}
.portfolio-cards {
  margin-left: 10rem;
  margin-right: 10rem;
}

.card {
  margin-bottom: 2rem;
}

.porttitle {
  margin-top: 10rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  font-weight: 600;
  font-size: 45px;
}

.portfolio {
  margin-bottom: 20rem;
}
